* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f3f5fc;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 2rem 0 2rem;
}
.input-container {
  margin-bottom: 20px;
  width: 100%;
}

.input-container input {
  width: 100%;
  padding: 10px;
  color: #0a3871;
  font-size: 32px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
}

.input-container input::placeholder {
  color: #0a3871;
}

.controls-container {
  width: 100%;
}

.instructions {
  margin-bottom: 20px;
  font-size: 14px;
  color: #6b7280;
}

.instructions img {
  width: 25px;
  height: 25px;
}
.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-group .btn {
  height: 67px;
  width: 328px;
  font-size: 18px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.button-group .btn-encrypt {
  background-color: #4a69bd;
  color: #fff;
}

.button-group .btn-decrypt {
  background-color: #d1d5db;
  color: #000;
}

.output-container {
  background-color: #fff;
  height: 90%;
  width: 400px;
  padding: 3.5rem;
  border-radius: 32px;
  margin: 0 2rem 0 2rem;
}

.output-message {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.output-message h2,
p {
  text-align: center;
}
.output-message p {
  font-weight: 300;
}
.output-text {
  display: none;
}
